<div class="col-md-12">
  <div class="card card-container">
    <h3>Iniciar Sesión</h3>
    <form name="form" (ngSubmit)="handleSubmit()">
      <div class="form-group">
        <label for="email">Correo Electronico</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block">Ingresar</button>
      </div>
    </form>
    <div class="form-group">
      <a class="btn btn-primary btn-block" routerLink="/register">
        Registrar
      </a>
    </div>
  </div>
</div>
